<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ css }}">

    <link rel="stylesheet" type="text/css" href="{{ bootstrap_css }}"/>



    <link rel="stylesheet" type="text/css" href="{{ datatables_css }}"/>

<script type="text/javascript" src="{{ datatables_js }}"></script>


    <title></title>
</head>
<body>

<div class="jumbotron text-right pt-3 pb-3">
  <div class="container-fluid">

      <div class="float-left">

      <img src="{{logo}}" style="height:100px">
            </div>

    <h1 class="display-4">AirSurf: Wheat</h1>
<p>The Zhou Laboratory</p>


  </div>
</div>

<!--
<nav class="navbar navbar-dark bg-secondary navbar-expand-lg navbar-fixed-top  justify-content-between">


        <ul class="navbar-nav mr-auto">

              <li class="nav-item active">

              </li>

            <li class="nav-item ">

              </li>

            <li class="nav-item ">

              </li>

            <li class="nav-item nav-tabs">

              </li>
        </ul>

 -->
</nav>
