<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ css }}">

    <link rel="stylesheet" type="text/css" href="{{ bootstrap_css }}"/>



    <link rel="stylesheet" type="text/css" href="{{ datatables_css }}"/>

<script type="text/javascript" src="{{ datatables_js }}"></script>


    <title></title>
</head>
<body>

<nav class="navbar navbar-dark bg-secondary navbar-expand-lg navbar-fixed-top  justify-content-between">


        <ul class="navbar-nav mr-auto">

              <li class="nav-item active">
                <a  class="nav-link" href="/">Data Downloads</a>
              </li>

            <li class="nav-item ">
                <a class="nav-link" href="/qr">QR Code Generator</a>
              </li>

            <li class="nav-item ">
                <a class="nav-link" href="/test">Device Maintenance</a>
              </li>

            <li class="nav-item nav-tabs">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
        </ul>

  <!-- Navbar content -->
</nav>
